<section class="page-section">
  <div class="container">
    <div class="product-item">
      <div class="product-item-title d-flex">
        <div class="bg-faded p-5 d-flex ms-auto rounded">
          <h2 class="section-heading mb-0">
            <span class="section-heading-upper">チュートリアル</span>
            <span class="section-heading-lower">タスク作成</span>
          </h2>
        </div>
      </div>
      <img class="tutorial-img mx-auto d-flex rounded img-fluid mb-3 mb-lg-0" <%= image_pack_tag "mypage1.png" %>
      <div class="product-item-description d-flex me-auto">
        <div class="bg-faded p-5 rounded"><p class="mb-0">アプリにログインしたらマイページに遷移します。タスクを作成するにはナビゲーションリンクの「タスク作成」をクリックしましょう。</p></div>
      </div>
    </div>
  </div>
</section>
<section class="page-section">
  <div class="container">
    <div class="product-item">
      <div class="product-item-title d-flex">
        <div class="bg-faded p-5 d-flex me-auto rounded">
          <h2 class="section-heading mb-0">
            <span class="section-heading-upper">入力フォーム</span>
            <span class="section-heading-lower">タスクと要件難易度の設定</span>
          </h2>
        </div>
      </div>
      <img class="tutorial-img mx-auto d-flex rounded img-fluid mb-3 mb-lg-0" <%= image_pack_tag "newtask.png" %>
      <div class="product-item-description d-flex ms-auto">
        <div class="bg-faded p-5 rounded"><p class="mb-0">入力フォームに従ってタスク内容を記入してください。ここで重要なのは開始日と〆切日で1日のノルマを設定するため開始日と〆切を2日以上開けて設定することが望ましいです。次にタスクを詳細に分割した内容を要件欄に記入してください。要件は複数登録でき各々に要件名と難易度を設定できます。難易度は1が簡単で9が最高難易度として設定し、要件数が多いほど計画的なスケジュールを提案できます。</p></div>
      </div>
    </div>
  </div>
</section>
<section class="page-section">
  <div class="container">
    <div class="product-item">
      <div class="product-item-title d-flex">
        <div class="bg-faded p-5 d-flex ms-auto rounded">
          <h2 class="section-heading mb-0">
            <span class="section-heading-upper">スケジュール提案ページ</span>
            <span class="section-heading-lower">日々のノルマを確認する</span>
          </h2>
        </div>
      </div>
      <img class="tutorial-img mx-auto d-flex rounded img-fluid mb-3 mb-lg-0" <%= image_pack_tag "suggestion1.png" %>
      <div class="product-item-description d-flex me-auto">
        <div class="bg-faded p-5 rounded"><p class="mb-0">入力フォームに必要事項を入力しタスクを作成すると提案ページに遷移します。ここでは要件と要件難易度の関係を示すグラフに毎日のノルマグラフを重ねてスケジュール案を提示します。画像の通りカーソルを合わせるとdayと数字が表示されその日のノルマ割合が表示されます。（例では「day2、1.24」を示しており、2日目ノルマは要件1と要件2を24％を実施することとなる。）</p></div>
      </div>
    </div>
  </div>
</section>
<section class="page-section">
  <div class="container">
    <div class="product-item">
      <div class="product-item-title d-flex">
        <div class="bg-faded p-5 d-flex ms-auto rounded">
          <h2 class="section-heading mb-0">
            <span class="section-heading-upper">タスク詳細ページ</span>
            <span class="section-heading-lower">タスクメモを残す</span>
          </h2>
        </div>
      </div>
      <img class="tutorial-img mx-auto d-flex rounded img-fluid mb-3 mb-lg-0" <%= image_pack_tag "show.png" %>
      <div class="product-item-description d-flex me-auto">
        <div class="bg-faded p-5 rounded"><p class="mb-0">作成したタスクはタスク一覧で確認することが出来ます。また、要件毎にメモを作成することが出来ます。</p></div>
      </div>
    </div>
  </div>
</section>

<div class="container">
<%= link_to I18n.t('views.link.top_page'), root_path %>
</div>