<h1>Index View</h1>

<div class="container-fluid">
  <div class="row justify-content-around">
    <div class="col-lg-7 align-self-start">
      <table class="table">
        <thead>
          <th><%= I18n.t('activerecord.attributes.task.title')%></th>
          <th><%= I18n.t('activerecord.attributes.task.overview')%></th>
          <th><%= I18n.t('activerecord.attributes.task.status')%></th>
          <th><%= I18n.t('activerecord.models.label')%></th>
          <th>
            <%= form_with(scope: :label, url: tasks_path, local: true, method: :get ) do |f| %>
              <%= f.label I18n.t('activerecord.attributes.label.search') %>
              <%= f.collection_check_boxes(:label_ids, Label.all, :id, :genre ) %>
              <%= f.submit I18n.t('activerecord.attributes.label.search'), class: "btn btn-primary" %>
            <% end %>
          </th>
        </thead>
        </tbody>
          <% @tasks.each do |task| %>
            <tr>
              <td><%= task.title %></td>
              <td><%= task.overview %></td>
              <td><%= I18n.t("models.enums.#{task.status}") %></td>
              <td><% task.labels.each_with_index do |label, i| %>
                <span>[<%= label.genre %>]</span>
              <% end %></td>
              <td class="btn-array">
                <%= button_to I18n.t('views.button.show'), task_path(task.id), method: :get, class: "btn btn-primary" %>
                <%= button_to I18n.t('views.button.edit'), edit_task_path(task.id), method: :get, class: "btn btn-primary" %>
                <%= button_to I18n.t('views.button.delete'), task_path(task.id), method: :delete, class: "btn btn-primary" %>
              </td>
            </tr>
          <% end %>
        </tbody>
      </table>
      <%= paginate @tasks %>

      <%= link_to I18n.t('views.link.create_task'), new_task_path %>
      <%= link_to I18n.t('views.link.other_achievement_task'), other_achievement_tasks_path %>
    </div>

    <div class="aside col-lg-4 align-self-end">
      <div id='calendar'></div>
    </div>
  </div>
</div>