<h1>Index View</h1>

<% @tasks.each do |task| %>
  <%= task.title %>
  <%= task.overview %>
  <%= task.status %>
  <%= link_to "詳細", task_path(task.id) %>
  <%= link_to "編集", edit_task_path(task.id) %>
  <%= button_to "削除", task_path(task.id), method: :delete %>
<% end %>

<%= link_to "タスク作成", new_task_path %>