<h1>show task</h1>
<p id="notice"><%= notice %></p>

<p>title:<%= @task.title %></p>
<p>overview:<%= @task.overview %></p>
<p>status:<%= @task.status %></p>

<% @task_items.each_with_index do |task_item, i| %>
  <p><strong><%= I18n.t('activerecord.models.task_item') %><%= "#{i + 1}" %></strong></p>
  <p>task_item:<%= task_item.item %></p>
  <p>level:<%= task_item.level %></p>

  <div id=<%="memos_area_#{task_item.id}"%>>
    <%= render partial: "memos/index", locals: { memos: task_item.memos, task: @task } %>
  </div>
  <%= render partial: "memos/form", locals: { memo: @memo, task: @task, task_item: @task_items[i] } %>
<% end %>

<p><%= link_to I18n.t('views.link.back'), tasks_path %></p>