<h3><%= I18n.t('views.messages.schedule_proposal')%></h3>

<%= form_with(model: @task, local: true, url: suggestion_new_or_edit, method: suggestion_form_method ) do |f| %>
  <%= f.hidden_field :title %>
  <%= f.hidden_field :overview %>
  <%= f.hidden_field :status %>
  <%= f.hidden_field :label_ids, multiple: true, value: @task.label_ids.join(",") %>
  <% #raise %>

  <p><%= I18n.t('activerecord.attributes.task.title')%>：<%= @task.title %></p>
  <p><%= I18n.t('activerecord.attributes.task.overview')%>：<%= @task.overview %></p>
  <% @task.labels.each_with_index do |label, i| %>
    <span>label<%= "#{i + 1}"%>:<%= label.genre %></span>
  <% end %>
  
  <%= f.fields_for :task_items do |g| %>
    <%= g.hidden_field :item %>
    <%= g.hidden_field :level %>
    <%= g.hidden_field :_destroy %>
  <% end %>

  <% @task.task_items.each_with_index do |x, i| %>
    <% unless x._destroy %>
      <p><strong><%= I18n.t('activerecord.models.task_item') %><%= "#{i + 1}" %></strong></p>
      <p><%= I18n.t('activerecord.attributes.task_item.item')%>：<%= x.item %></p>
      <p><%= I18n.t('activerecord.attributes.task_item.level')%>：<%= x.level %></p>
    <% end %>
  <% end %>

  <%= f.submit I18n.t('views.button.create') %>
  <%= f.submit I18n.t('views.button.back'), name: "back" %>
<% end %>