<h2><%= I18n.t('views.title.suggestion')%></h2>
<h3><%= I18n.t('views.messages.schedule_proposal')%></h3>

<div class="container-fluid">
  <div class="row justify-content-around">
    
    <div class="col align-self-start">
      <% unless @quota.nil? %>
        <%= area_chart @array_graph, xtitle: "item", ytitle: "level", points: false, legend: "bottom", curve: false %>
      <% end %>
    </div>

    <div class="aside col align-self-end">
      <%= form_with(model: @task, local: true, url: suggestion_new_or_edit, method: suggestion_form_method ) do |f| %>
        <%= f.hidden_field :title %>
        <%= f.hidden_field :overview %>
        <%= f.hidden_field :status %>
        <% params[:task][:label_ids].each do |label_id| %>
          <input type="hidden" value=<%= label_id %> name="task[label_ids][]" id="task_label_ids">
        <% end %>

        <%= f.fields_for :event do |h| %>
          <%= h.hidden_field :start_time_on %>
          <%= h.hidden_field :end_time_on %>
          <%= h.hidden_field :_destroy %>
        <% end %>

        <p><%= f.label :title %>：<%= @task.title %></p>
        <p><%= f.label :overview %>：<%= @task.overview %></p>
        <p><%= I18n.t('views.label.period') %>：<%= @task.event.start_time_on %>～<%= @task.event.end_time_on %></p>
        <% @task.labels.each_with_index do |label, i| %>
          <span>label<%= "#{i + 1}"%>:<%= label.genre %></span>
        <% end %>
        <br>
        
        <%= f.fields_for :task_items do |g| %>
          <%= g.hidden_field :item %>
          <%= g.hidden_field :level %>
          <%= g.hidden_field :_destroy %>
        <% end %>

        <% @task.task_items.each_with_index do |x, i| %>
          <% unless x._destroy %>
            <strong><%= I18n.t('activerecord.models.task_item') %><%= "#{i + 1}" %></strong>
            <span><%= I18n.t('activerecord.attributes.task_item.item')%>：<%= x.item %></span>
            <span><%= I18n.t('activerecord.attributes.task_item.level')%>：<%= x.level %></span>
            <br>
          <% end %>
        <% end %>

        <%= f.submit I18n.t('views.button.create'), class: "btn btn-primary" %>
        <%= f.submit I18n.t('views.button.back'), name: "back", class: "btn btn-primary" %>
      <% end %>
    </div>

  </div>
</div>