<div class="main container">
  <div class="row">
    <div class="col align-self-start">
      <h2 class="pt-4"><%= @user.name %> <%= I18n.t('views.sentence.page') %></h2>
      <% if @user.image.url %>
        <div class="icon">
          <%= image_tag @user.image.url %>
        </div>
      <% end %>
      <%= button_to I18n.t('views.button.mypage_edit'), edit_user_registration_path(@user.id), method: :get, class: "btn btn-primary" %>
    </div>

    <div class="aside col align-self-end pt-4 mt-5">
      <p><%= I18n.t('activerecord.models.user')%>：<%= @user.name %></p>
      <p><%= I18n.t('activerecord.attributes.user.email')%>：<%= @user.email %></p>

      <p><%= link_to I18n.t('views.link.achievement_task'), achievement_task_path(@user.id) %><p>

      <% if @achievement.values.sum != 0 %>
        <%= pie_chart @achievement, legend: "right" %>
      <% end %>
    </div>
  </div>

  <% if current_user.id != @user.id && current_user.admin? %>
    <div class="container-fluid">
      <div class="row justify-content-start">
        <div class="col align-self-start">
          <h2>ユーザータスクリスト(管理者のみ表示)</h2>
          <table class="table">
            <thead>
              <th><%= I18n.t('activerecord.attributes.task.title')%></th>
              <th><%= I18n.t('activerecord.attributes.task.overview')%></th>
              <th><%= I18n.t('activerecord.attributes.task.status')%></th>
              <th><%= I18n.t('activerecord.models.label')%></th>
              <th>
                <%= form_with(scope: :label, url: tasks_path, local: true, method: :get ) do |f| %>
                  <%= f.label I18n.t('activerecord.attributes.label.search') %>
                  <%= f.collection_check_boxes(:label_ids, Label.all, :id, :genre ) %>
                  <%= f.submit I18n.t('activerecord.attributes.label.search'), class: "btn btn-primary" %>
                <% end %>
              </th>
            </thead>
            </tbody>
              <% @tasks.each do |task| %>
                <tr>
                  <td><%= task.title %></td>
                  <td><%= task.overview %></td>
                  <td><%= I18n.t("models.enums.#{task.status}") %></td>
                  <td><% task.labels.each_with_index do |label, i| %>
                    <span>[<%= label.genre %>]</span>
                  <% end %></td>
                  <td class="btn-array">
                    <%= button_to I18n.t('views.button.show'), task_path(task.id), method: :get, class: "btn btn-primary" %>
                    <%= button_to I18n.t('views.button.edit'), edit_task_path(task.id), method: :get, class: "btn btn-primary" %>
                    <%= button_to I18n.t('views.button.delete'), task_path(task.id), method: :delete, class: "btn btn-primary" %>
                  </td>
                </tr>
              <% end %>
            </tbody>
          </table>
          <%= paginate @tasks %>
        </div>
      </div>
    </div>
  <% end %>
</div>