<h1>User page</h1>

<div class="main">
  <% if @user.image.url %>
    <%= image_tag @user.image.url %>
  <% end %>
  <%= button_to "マイページ編集", edit_user_registration_path(@user.id), method: :get %>
</div>

<div class="aside">
  <p><%= I18n.t('activerecord.models.user')%>：<%= @user.name %></p>
  <p><%= I18n.t('activerecord.attributes.user.email')%>：<%= @user.email %></p>

  <p><%= link_to "タスク実績", achievement_task_path(@user.id) %><p>

  <% unless @achievement.empty? %>
    <%= pie_chart @achievement %>
  <% end %>
</div>