<h1><%= I18n.t('mail.start_contact') %></h1>

<h3><%= I18n.t('mail.start_contact_sentence')%></h3>
<h3><%= I18n.t('mail.request_start')%></h3>
<p>title: <%= @task.title %></p>
<p>period: <%= @task.event.start_time_on %>～<%= @task.event.end_time_on%></p>
