<table class="table">
  <% memos.each do |memo| %>
    <% if memo.id.present? %>
      <tr id= <%= "memo_area_#{memo.id}" %>>
        <div class="memo-content" id="this_memo_<%= memo.id %>"></div>
          <td><%= memo.content %></td>
          <td><%= button_to I18n.t('views.button.memo_edit'), edit_task_memo_path(@task, memo), method: :get, remote: true %></td>
          <td><%= button_to I18n.t('views.button.memo_delete'), task_memo_path(@task.id, memo.id), method: :delete, remote: true, data: { confirm: I18n.t('views.messages.confirm_whether_delete_memo')} %></td>
      </tr>
    <% end %>
  <% end %>
</table>